*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --green: #00b289;
    --black: #4c4d5f;
    --yellow: #f8db62;
}
/* ?nav-bar starts from here */
 .navbar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background: var(--black);
   color: var(--white);
 }

 .brand-title{
   font-size: 2rem;
   margin: 0.5rem;
 }

 .navbar-links{
   display: flex;
   align-items: center;
   padding-inline-end: 2rem;
 }

 .btn{
  padding: 9px 1.5rem;
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin-inline-end: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
 }

 .log-in{
  background: transparent;
  border: 1px solid var(--green);
  color: var(--white);
 }

 .log-in:hover{
  background: var(--green);
  color: var(--white);
 }

 .navbar-links ul{
   margin: 0;
   padding: 0 1rem;
   display: flex;
   list-style: none;
 }
 

 .navbar-links li a{
   text-decoration: none;
   color: var(--white);
   text-transform: capitalize;
   padding: 0 1rem;
   display: block;
 }

 .toggle-button{
   width: 30px;
   height: 21px;
   position: absolute;
   top: .75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
 }

 .toggle-button .bar{
   height: 3px;
   width: 100%;
   background-color: black;
   border-radius: 10px;
 }


 /*? nav-bar ends from here */

 .hero-container{
  padding-block-start: 5rem;
 }

 .plans-and-pricing{
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  /* border: 2px solid green; */
 }

 /*!switch styles starts from here */
 .switch-holder{
  width: 55px;
  height: 30px;
  display: block;
  position: relative;
 }

 .switch{
  width: 55px;
  height: 30px;
  background: var(--green);
  display: block;
  border-radius: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
 }

 .switch::after{
  content: '';
  width: 25px;
  height: 25px;
  background: var(--white);
  border-radius: 50%;
  position: absolute;
  inset-inline-start: 2px;
  inset-block-start: 2px;
  transition: all 0.5s;
  cursor: pointer;
 }

 .checkbox{
  display: none;
 }
 input:checked + .switch:after{
  transform: translateX(25px);
}
/*! switch styles ends from here */


 .plans-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  /* border: 2px solid maroon; */
 }
 
 span{
  text-transform: uppercase;
  color: var(--black);
 }

 .monthly-promotion{
  position: absolute;
  inset-block-start: -2rem;
  inset-inline-end: 0.5rem;
 }

 .plans-title{
  text-transform: capitalize;
  color: var(--black);
  font-weight: bolder;
  font-size: 2rem;
 }

 /* pricing-layouts styles starts from here */

 .columns-container{
  width: 100%;
  padding: 2rem 3rem;
 }
 .columns{
  border: 1px solid var(--black);
  width: 29.5%;
  float: left;
  padding: 8px;
  margin: 20px;
  background: var(--white);
 }

 .price{
  padding: 50px 25px;
 }

 .list-of-items li{
  list-style-type: none;
  padding: 1rem 0;
 }

 .list-of-items li::before{
  content: '✔';
  color: var(--green);
  margin-right: 0.5rem;
 }

 .amount{
  font-size: 2.5rem;
  font-weight: bolder;
  border-bottom: 2px solid var(--green);
  text-align: center;
  color: var(--black);
 }

 .amount span{
  font-size: 0.75rem;
 }

 .btn-start-free{
  color: var(--white);
  font-size: 1em;
  background-color: var(--green);
  padding: 10px 75px;
  border: none;
  text-transform: capitalize;
  border-radius: 2px;
 }

 .btn-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
 }

 /*! media queries starts from here */
 /* 1. mobile nav starts from here */
 @media (max-width: 786px){

  .toggle-button{
     display: flex;
  }

  .navbar-links{
     display: none;
     flex-direction: column;
     width: 100%;
  }

  .navbar{
     flex-direction: column;
     align-items: flex-start;
  }

  .navbar-links ul{
     width: 100%;
     flex-direction: column;
  }

  .navbar-links li{
     text-align: center;
  }

  .navbar-links li a{
     padding: 1.5rem 1rem;
  }

  .navbar-links.active{
     display: flex;
  }

  /* plans and price (area of switch) statrs from here */
  .hero-container{
    padding-block-start: 2rem;
  }
  .plans-and-pricing{
    width: 100%;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding-inline-start: 1rem;
  }
  
  .plans-title{
  margin-inline-start: 0;
  }

  .plans-container{
    justify-content: space-around;
    width: 80%;
    margin-inline-start: 5rem;
    /* border: 2px solid green; */
  }

  .monthly-promotion{
    padding-block-start: 0.2rem;
    padding-inline-start: 8.5rem;
  }
  /* plans and price (area of switch) ends here */

  .btns-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  .btn{
   width: 20em;
   margin: 5px auto;
   padding: 0.5rem 1rem;
   text-transform: capitalize;
   background: var(--green);
   color: var(--white);
   border: none;
   border-radius: 4px;
  }

  .log-in{
   background: transparent;
   border: 1px solid var(--green);
   color: var(--green);
  }
 
  .log-in:hover{
   background: var(--green);
   color: var(--white);
  }

  /* pricing-layouts starts from here */
  .columns{
    width: 100%;
    display: block;
  }
}

/* media queries ends here */


 